.sidebar-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.sidebar-overlay.active {
    display: block;
}

@media (max-width: 767px) {
    #sidebar.active {
        transform: translateX(0);
    }
}