<aside class="w-full md:w-64  text-black p-4  overflow-y-auto] ">
    <h2 class="text-xl font-bold mb-4 text-center">Géneros Literarios</h2>
    <ul class="space-y-2">
        @for (genre of genres; track genre.id) {
        <li>
            <button (click)="selectGenre(genre.id)"
                class="w-full text-left px-4 py-2 rounded hover:bg-indigo-600 hover:text-white transition"
                [class.bg-indigo-700]="selectedGenre === genre.id" [class.text-white]="selectedGenre === genre.id">
                {{ genre.name }}
            </button>
        </li>
        }
    </ul>
</aside>