<footer class="bg-indigo-500 text-white border-t border-gray-800">
    <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <!-- Logo -->
            <div class="flex items-center mb-4 md:mb-0">
                <img src="icons/logo-a-blanco.png" alt="Logo" class="h-8 w-auto">
                <span class="ml-2 text-xl font-light">Librería Online</span>
            </div>

            <!-- Copyright -->
            <div class="text-white text-sm">
                © 2025 Librería Online. Alberto Andrade Ortiz
            </div>
        </div>
    </div>
</footer>