<section class="py-12  animate__animated animate__backInLeft">
    <div class="container mx-auto px-4">


        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>
            <app-book-card bookImage="./images/book1.jpg" title="El arte de la guerra" author="Sun Tzu"
                shortDescription="Una antigua obra sobre estrategia militar que sigue siendo relevante hoy en día."
                fullDescription="El arte de la guerra es un tratado militar chino escrito por Sun Tzu hace más de 2500 años. Aunque se centraba originalmente en la estrategia militar, sus principios se aplican a muchas áreas de la vida moderna, incluyendo los negocios, la política y las relaciones personales. La obra consta de 13 capítulos, cada uno dedicado a un aspecto diferente de la guerra y la estrategia."
                genre="Estrategia" year="500 a.C." pages="120" isbn="978-8499898888">
            </app-book-card>






        </div>
    </div>
</section>